<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social post it - Step 1</title>
</head>
<body>
<h3>Social post it - Step 2</h3>
<form action="/post" method="POST">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" placeholder="Inserisci il nome dell'immagine" required>
    <label for="description">Descrizione</label>
    <input type="text" name="description" id="description" placeholder="Inserisci la descrizione dell'immagine" required>
    <label for="link">Link dell'immagine</label>
    <input type="text" name="link" id="link" placeholder="Inserisci il link dell'immagine" required>
    <button type="submit">Invia</button>
</form>
</body>
</html>